.main-content-container {
  border: 1px solid black;
  min-height: 100px;
  margin-top: 50px;
}

.main-content-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 40px max-content;
  column-gap: 30px;
  border: 1px solid red;
}

.main-heading {
  border: 1px solid black;
  grid-column: 2/3;
  grid-row: 1/2;
}

.side-bar-subgrid {
  grid-column: 1/2;
  grid-row: 2/-1;
  max-height: 500px;
  border: 1px solid black;
  font-size: 0.875rem;
  text-wrap: wrap;
  padding-left: 20px;
  position: sticky;
  top: 40px;
  overflow-y: scroll;
  
}

.content-subgrid {
  grid-column: 2/3;
  grid-row: 2/-1;
  border: 1px solid red;
}

.main-heading h1 {
  font-size: 1.8em;
  font-family: serif;
  font-weight: normal;
}

.main-heading-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.languages {
  font-weight: 700;
  color: #3366cc;
  padding: 4px 12px;
  background-color: #eaecf0;
  cursor: pointer;
}

.link-heading {
  margin-bottom: 20px;
}

.link-heading span {
  font-weight: bold;
  margin-right: 10px;
}

.link-heading button {
  border-style: none;
  padding: 4px 8px;
  border-radius: 2px;
  background-color: #eaecf0;
  color: #202122;
}

.link-heading button:hover {
  background-color: #f8f9fa;
  cursor: pointer;

}

.side-bar-subgrid li {
  list-style-type: none;
  line-height: 2;
}

.sidebar-top a {
  /* text-decoration: none; */
  font-weight: bold;
  color: black;
}

.li-discription > ul {
  margin-left: 12px;
}

.li-evolution > ul{
  margin-left: 12px;
}


