.trending-articles {
  width: 100%;
  height: 300px;
  /* border: 1px solid black; */
  margin-top: 50px;
}

.trending-heading-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trending-image {
  height: 25px;
  width: 25px;
  display: inline-block;
  background-image: url('./../images/trending-img.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.trending-heading {
  font-size: 16px;
  font-weight: 600;
}

.articles-list {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  flex-grow: 1;
}

.article {
  width: 33%;
  height: 80px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.article-idx {
  width: 15%;
  display: inline-block;
}

.article-idx span {
  color: #F2F2F2;
  /* color: black; */
  font-size: 32px;
  font-weight: 500;
}

.article-wrapper {
  width: 78%;
}

.writer-category-container {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
}

.writer-dp {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
}

.article-writer,
.article-category {
  color: #242424;
}

.is-member {
  background-image: url('./../images/member.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
}

.in-text {
  color: #6B6B6B;
}

.article-title {
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0px;
}

.date-time-container {
  font-size: 13px;
  font-weight: 400;
  color: #6B6B6B;
}

.star-img {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.writer-1-dp {
  background-image: url('https://miro.medium.com/v2/resize:fill:30:30/1*5MjyHAR36Q-inrbJxGu4Eg.png');
}

.writer-2-dp {
  background-image: url('https://miro.medium.com/v2/resize:fill:30:30/1*CJe3891yB1A1mzMdqemkdg.jpeg');
}

.writer-3-dp {
  background-image: url('https://miro.medium.com/v2/resize:fill:30:30/1*eYiFoogBE5PlzMY8yBNs4g.png');
}

.writer-4-dp {
  background-image: url('	https://miro.medium.com/v2/resize:fill:30:30/1*UmXe4ATjCtj3OENRaZnIpw.jpeg');
}

.writer-5-dp {
  background-image: url('https://miro.medium.com/v2/resize:fill:30:30/1*TqAYf-jZvOGYHOQ6bq9qtg.jpeg');
}

.writer-6-dp {
  background-image: url('https://miro.medium.com/v2/resize:fill:30:30/1*tlSJZopCPn4cndd9KrDLPg.png');
}